.card-item {
  background: linear-gradient(
    180deg,
    rgba(28, 34, 29, 0.98),
    rgba(15, 18, 16, 0.98)
  );

  border: 1px solid rgba(201, 164, 92, 0.45);
  border-radius: 18px;

  padding: 20px;

  display: flex;
  flex-direction: column;

  min-height: 520px;

  text-align: center;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);

  transition: all .25s ease;
}

.card-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0,0,0,.5);
}

.card-item img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  margin: auto;
  margin-bottom: 15px;

  filter: drop-shadow(0 10px 18px rgba(0,0,0,.45));
}

.card-item h2{
  color:#f2ead4;
  margin-bottom:10px;
}

.card-item p{
  color:#cfcfcf;
}

.preco{
  font-size:1.45rem;
  color:#e6c16f;
  font-weight:bold;
}

.botao-comprar{
  margin-top:auto;
}